/* google quicksand font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* google raleway font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background: rgb(247, 247, 247);
}

/* nav bar start */

header {
    max-width: 100%;
    height: auto;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    margin: 20px 140px;
    align-items: center;
    gap: 186px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo_text {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.9rem;
    color: rgb(17, 17, 17);
    margin-left: 0.6rem;
    margin-right: 20px;
}

.hamburger_menu {
    display: none;
}


.navbar_container ul li {
    list-style: none;
    display: inline;
    margin-right: 1.3rem;
}

.navbar_container ul li a {
    text-decoration: none;
}

.text {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.9rem;
}

.text1 {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.9rem;
}

.navbar_container ul li .color {
    color: rgb(254, 163, 1);
}

.navbar_container ul li .color1 {
    color: rgb(1, 172, 253);
}

.navbar_container ul li .color2 {
    color: rgb(5, 212, 223);
}

.navbar_container ul li .color3 {
    color: rgb(93, 88, 239);
}

.nav_btn {
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.9rem;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 163, 1);
    border-radius: 0.7rem;
    width: 197px;
    height: 50px;
    border: none;
    cursor: pointer;
    outline: none;
}

/* responsive for mobile */

@media screen and (max-width: 576px) {
    .navbar {
        margin-bottom: 20px;
    }

    .navbar_container {
        margin: 0.7rem 1rem;
    }

    .logo {
        gap: 220px;
    }

    .logo_text {
        display: none;
    }

    .hamburger_menu {
        display: inline-block;
    }

    .hamburger_menu i {
        font-size: 2rem;
        padding: 7px 4px;
    }

    .navbar_container ul li {
        display: none;
    }

    .nav_button {
        display: none;
    }

}

/* nav bar end with responsive */

/* hero / banner section start */

.banner {
    width: 100%;
    height: auto;
}

.banner_container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_textarea {
    margin-left: -2.3rem;
    max-width: 50%;
}

.banner_image {
    margin-right: -2.3rem;
    max-width: 45%;
}

.banner_heading {
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 3.75rem;
    color: rgb(17, 17, 17);
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
    text-align: left;
    margin-left: 0;
}

.bannerspan1 {
    color: rgb(254, 163, 1);
}

.bannerspan2 {
    color: rgb(1, 172, 253);
}

.banner_description {
    width: 100%;
    height: auto;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.55rem;
    color: rgb(17, 17, 17);
    text-align: left;
    margin-bottom: 1.5rem;
    margin-left: 0;
}

.banner_btn {
    width: 197px;
    height: 50px;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.9rem;
    color: rgb(255, 255, 255);
    background-color: rgb(17, 17, 17);
    border-radius: 0.7rem;
    border: none;
    outline: none;
    cursor: pointer;
}

/* responsive for mobile */
@media screen and (max-width: 576px) {
    .banner {
        padding-top: 1rem;
        border-top: 0.5px solid rgb(254, 163, 1);
    }

    .banner_container {
        flex-direction: column-reverse;
        text-align: center;
    }

    .banner_textarea,
    .banner_image {
        max-width: 100%;
        margin: 0 auto;
    }

    .banner_image img {
        width: 70%;
    }

    .banner_heading {
        width: 100%;
        font-weight: 700;
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 1.1rem;
        text-align: center;
        margin-left: 0;
    }

    .banner_description {
        width: 100%;
        height: auto;
        font-weight: 500;
        font-size: 0.9rem;
        line-height: 1.1rem;
        text-align: center;
    }
}

/* hero / banner section end */

/* standard curriculam start */

.curriculam {
    background: url(https://i.ibb.co.com/64MTZ5B/bg.png);
    background-position: top;
    background-size: cover;
    width: 100%;
    margin-bottom: 5rem;
}

.curriculam_title {
    font-weight: 700;
    font-size: 2.9rem;
    line-height: 3.5rem;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 5rem;
    padding-top: 5rem;
}

.curriculam_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    gap: 1.8rem;
}

.curriculam_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.c_box1 {
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.c_box2 {
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.curriculam_img {
    margin-bottom: 2rem;
}

.curriculam_heading {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.9rem;
    color: rgb(32, 32, 32);
    margin-bottom: 2.1rem;
}

.curriculam_description {
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.8rem;
    color: rgb(128, 128, 128);
    margin-bottom: 2.4rem;
    text-align: center;
}

.curriculam_btn {
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 1.8rem;
    color: rgb(100, 200, 255);
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.btn_color1 {
    color: rgb(240, 170, 0);
}

.btn_color2 {
    color: rgb(135, 0, 255);
}


.arrow_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 10px;
}

.arrow_button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: rgb(254, 163, 1);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.arrow_button:hover {
    background-color: transparent;
    border: 2px solid rgb(254, 163, 1);
}

.arrow_button button {
    background-color: transparent;
    border: none;
}



.arrow_button img {
    width: 20px;
    height: 20px;
}

/* responsive for mobile */

@media screen and (max-width: 576px) {
    .curriculam_container {
        grid-template-columns: 1fr;
    }

    .curriculam_title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .arrow_container {
        display: none;
    }

    .curriculam_heading {
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

/* standard curriculam end */

/* our stories section start */

.stories {
    width: 100%;
    height: auto;
    background: url(https://i.ibb.co.com/64MTZ5B/bg.png), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
}

.story_title {
    font-weight: 700;
    font-size: 2.9rem;
    line-height: 3.5rem;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 5rem;
}

.story_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    width: 80%;
    margin: 0 280px;
    margin-bottom: 5rem;
}

.story_container img {
    border-radius: 16px 16px 0px 0px;
}

.card1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.btn_holder1 {
    margin-left: 2.4rem;
    margin-top: -35px;
    margin-bottom: 2.4rem;
}

.card1_btn {
    font-family: "Raleway", serif;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.8rem;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    border: none;
    outline: none;
    border-radius: 47px;
    background: rgb(60, 216, 232);
}

.card1_heading {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: rgb(0, 0, 0);
    margin-left: 2.4rem;
    margin-bottom: 3.2rem;
}

.card1_description {
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.8rem;
    color: rgb(102, 102, 102);
    font-family: "Raleway", serif;
    margin-bottom: 2.2rem;
    margin-left: 2.4rem;
}

.card2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 290px;
    height: auto;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.btn_holder2 {
    margin-left: 2.4rem;
    margin-top: -1.8rem;
    margin-bottom: 2.4rem;
}

.card2_btn {
    font-family: "Raleway", serif;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.8rem;
    color: rgb(255, 255, 255);
    padding: 0.55rem 1.1rem;
    border-radius: 47.93px;
    border: none;
    outline: none;
    background: rgb(149, 178, 38);
}

.card2_heading {
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 1.8rem;
    color: rgb(0, 0, 0);
    margin-left: 2.4rem;
    margin-right: 3.4rem;
}

.card3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    width: 290px;
    height: auto;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-left: -115px;
}

.card3 .card2_btn {
    background-color: rgb(93, 88, 240);
}

.card4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 290px;
    height: auto;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.card5 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    width: 290px;
    height: auto;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-left: -115px;
}

.below_btn {
    text-align: center;
    padding-bottom: 3.8rem;
}

.below_btn button {
    border-radius: 12px;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.9rem;
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    width: 197px;
    height: 50px;
    background: rgb(17, 17, 17);
}

/* responsive for mobile */

@media screen and (max-width: 576px) {
    .story_container{
        grid-template-columns: repeat(2, 1fr);
        margin: 0 1rem;
        margin-bottom: 1.3rem;
    }
    .card1{
        display: none;
    }

    .story_container img{
        width: 173px;
        height: 105px;
    }

    .card2 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 173px;
        height: 179px;
    }

    .btn_holder2 {
        margin-left: 1.4rem;
        margin-top: -1.2rem;
        margin-bottom: 11px;
    }
    
    .card2_btn {
        font-family: "Raleway", serif;
        font-weight: 500;
        font-size: 9px;
        line-height: 17px;
        padding: 5px 10px;
        border-radius: 28px;
    }

    .card2_heading {
        font-weight: 700;
        font-size: 9px;
        line-height: 17px;
        color: rgb(0, 0, 0);
        margin-left: 1.4rem;
        margin-right: 1.4rem;
        margin-bottom: 1rem;
    }

    .card3 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        width: 173px;
        height: 179px;
        border-radius: 16px;
        background: rgb(255, 255, 255);
        margin-left: 0;
    }

    .card4 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        width: 173px;
        height: 179px;
        border-radius: 16px;
        background: rgb(255, 255, 255);
    }
    
    .card5 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        width: 173px;
        height: 179px;
        border-radius: 16px;
        background: rgb(255, 255, 255);
        margin-left: 0;
    }
    
}